html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    text-transform: uppercase;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ===================================================
   ESTILOS DA BARRA LATERAL (SIDEBAR)
   =================================================== */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    width: 250px;
    transition: margin 0.25s ease-out;
}

    /* Classe que esconde a barra lateral (joga ela pra fora da tela) */
#sidebar-wrapper.collapsed {
    margin-left: -250px;
}

.sidebar-link {
    transition: all 0.2s ease-in-out;
    border-left: 4px solid transparent !important;
}

    .sidebar-link:hover {
        background-color: rgba(255, 255, 255, 0.15) !important; /* Deixa o fundo levemente mais claro */
        border-left: 4px solid #ffffff !important; /* Cria uma barra branca na esquerda */
        padding-left: 20px !important; /* Dá um leve "pulinho" para a direita */
    }

/* Demarcação de campos obrigatórios */
.campo-obrigatorio::after {
    content: " *";
    color: #dc3545; /* Vermelho padrão do Bootstrap (text-danger) */
    font-weight: bold;
}